<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Events</h1>
    </header>
    <section id="events">
      <h2>Events in Action</h2>
      <!--a shorthand for v-on: is @ and for v-bind is : -->
      <button @click="add(10)">Add 10</button>
      <button @click="reduce(5)">Subtract 5</button>
      <p>Result: {{ counter }}</p>
      <!-- <input type="text" v-on:input="setName" v-bind:value="name"/> -->
      <!--the v-model does two main jobs it takes the value from the input store it in
      name and updates the value itself so it does the two jobs of v-on:input that triggers
      a function to store the value and v-bind:value to update the value of the input field itself -->
      <input type="text" v-model="name" />
      <input type="text" v-model="lastName">
      <button v-on:click="resetInput">Reset Input</button>
      <p>Your Name: {{ fullName }}</p>
    </section>
  </body>
</html>
