@import "tailwindcss";
html {
  font-family: "Jost", sans-serif;
}
body{
  @apply  space-y-10;
}
header {
  @apply shadow-2xl flex flex-col items-center justify-center pb-1 mb-14 mx-auto my-10 text-4xl font-bold w-[700px] text-center bg-[#4fc08d] text-white h-[130px] rounded-xl;
}
#app {
  @apply flex flex-col items-center w-[700px] h-fit p-4 mx-auto rounded-xl shadow-2xl space-y-6;
}
#app h2 {
  @apply text-4xl font-bold text-[#4fc08d] border-b-4 border-b-[#ccc] w-full text-center pb-1.5;
}
#app form {
  @apply font-bold;
}
#app input {
  @apply border border-[#bdb6b6] p-0.5 focus:outline-none px-0.5;
}
#app button {
  @apply bg-[#ff0077] text-white p-0.5 border border-[#ff0077] cursor-pointer px-4 hover:text-gray-300;
}
#app p {
  @apply w-full bg-[#4fc08d] text-center text-white text-2xl font-semibold p-2 rounded-full;
}
#app2 p {
  @apply w-[670px] mx-auto bg-[#4fc08d] text-center text-white text-2xl font-semibold p-2 rounded-full;
}

