body{
  font-family: sans-serif;
  margin: 0;
}

#app{
  max-width: 40rem;
  margin: 3rem auto;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);  
}
label,button{
  font-size:larger;
  font-weight:lighter;
}

label, input{
  margin-bottom: 1rem;
  width: 100%;
  display: block;
}
ul{
  padding: 0;
  margin: 1rem 0;
  list-style: none;
}
li{
  padding: 1rem 0.75rem;
  border: 1px solid rgb(189, 189, 189);
}