body{
    font-family: Verdana, sans-serif;
    text-align: center;
}

#roll{
    background-color: #32308d;
    font-size: 7em;
    border-radius: 25px;
    transition: background-color 0.1s ease;
    border: none;

}
#roll:hover{
    background-color: #4a4a9d;
    cursor: pointer;
}
#roll:active{
    background-color: #4a4a9d;
    transform: translateY(2px);
}
#dice-container{
    font-size: 5em;
    margin-top: 20px;
    display: block;
}