@import 'tailwindcss';

@theme {
  --color-lightgreen: hsl(122, 39%, 50%);
  --color-darker: hsl(122, 39%, 40%);
  --color-sky: hsl(210, 100%, 70%);
  --color-sun: hsl(40, 100%, 70%);
}

.card {
  height: 500px;
  @apply my-10 bg-gradient-to-b from-sky to-sun w-sm flex flex-col items-center justify-around p-12 font-bold space-y-4 rounded-xl shadow-2xl;
}
.cityDisplay, .tempDisplay{
  @apply text-5xl text-gray-700 pb-1.5;
}
.humidityDisplay{
  @apply text-xl; 
}
.descDisplay{
  @apply text-2xl;
}
.emojiDisplay{
  @apply text-8xl;
}
.errorDisplay{
  @apply text-2xl text-center pt-2;
}
