#counter{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15em;
    display: block;
    text-align: center;
}

#buttons{
    text-align: center;
}
#increase, #decrease, #reset{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding: 10px 20px;
    margin: 3px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #007BFF;
    transition: background-color 0.3s ease;
}
#increase:hover, #decrease:hover, #reset:hover{
    background-color: #0056b3;
}